/*-----------------------------------------------------------------*/
/* Additional Screen Sizes */
/*-----------------------------------------------------------------*/
/* Width at 980px (Desktop) and below */
@media screen and (max-width: 980px) {
#movieChosenDiv {
	width: 500px;
	margin: 20px 200px;
}


/*-----------------------------------------------------------------*/
/* Width at 768px (Tablet) and below */
@media screen and (max-width: 768px) {
#movieChosenDiv {
	width: 500px;
	margin: 20px 100px;
}


/*-----------------------------------------------------------------*/
/* Width at 640px (Cell Phone) and below */
@media screen and (max-width: 640px) {

#row1, #row2 {
	display: inline;
	text-align: center;
}